@page "/learnblazor"
<h3 class="text-info pb-3">@WelcomeText</h3>

<p>On Change &nbsp; <input @bind="@name" /></p>

<p>On Change &nbsp; <input @bind="@name" @bind:event="oninput" /></p>

<p>I am @(name != null? name:"____________")</p>

<p> I am @name</p>

@code {
	string name = "spark";
	string WelcomeText = "Time To learn Blazor Application!";
}
